*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.navigation{
    display: block;
    font-size: 1.125em;
    margin-right: 5%;
    margin-top: 24px;
    text-align:right;
    /* width: 45%; */
}
a{
    color:azure;
    text-decoration: none;

}
#intro{
    /* display: flex; */
    /* color: black; */
    /* justify-content: center; */
    margin-top: 15%;
    /* text-align: left; */
    flex-wrap: wrap;
    /* border: 4px solid black; */
    padding: 10px;
    max-width: 40rem;
    margin-left: 10px;
    
}
button{
    border-radius: 15px;
}
h1{
    font-size: 45px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
body{
    background-image: url("https://raw.githubusercontent.com/AddyRdz/HTML_Project/884be37577738d24ac5526856a6da28c675fff49/assets/apple-2568755_1280.jpg");
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.charliePic{
    height: 20rem;
    width: 20rem;
    /* border: 4px solid white; */
    border-radius: 20px;
    margin-left: 20px;
}
#bio{
     /* display: flex; */
    /* color: black; */
    /* justify-content: center; */
    /* margin-top: 18%; */
    /* text-align: left; */
    flex-wrap: wrap;
    /* border: 4px solid black; */
    padding: 10px;
    max-width: 40rem;
    margin-left: 40px;
}
#experience{
     /* display: flex; */
    /* color: black; */
    /* justify-content: center; */
    /* margin-top: 18%; */
    /* text-align: left; */
    flex-wrap: wrap;
    /* border: 4px solid black; */
    padding: 10px;
    max-width: 40rem;
    margin-left: 20px;
    
}
.matterport{
    margin-left: 40px;
}
.experienceTitle{
    margin-left: 20px;
}
.aboutTitle{
    margin-left: 20px;
}
.portfolioTitle{
    margin-left: 20px;
}
#portfolio{
    /* display: flex; */
   /* color: black; */
   /* justify-content: center; */
   margin-top: 18%;
   /* text-align: left; */
   flex-wrap: wrap;
   /* border: 4px solid black; */
   padding: 10px;
   max-width: 40rem;
   margin-left: 10px;
}
.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* align-items: center; */
    height: 100vh;
}
.panel{
    width: 50px;
    height: 50vh;
    box-shadow: 0 0 10px black;
    margin: 20px;
    margin-left: 30px;
    border-radius: 20px;
    width: 180px;
    background: no-repeat scroll center;
    transition: all 0.5s linear;
    position: relative;

}
.panel h3{
    position: absolute;
    left: 0;
    margin-left: 10px;
    bottom: 50px;
    color:white;
    font-size: 25px;
    transform: rotate(-90deg);
    transition: all 0.5s linear;
}
.active{
    width: 400px;
}
.active h3{
    transform: rotate(0deg);
    text-shadow: 0 0 4px black;

}
#panel_1{
    background-image: url(https://github.com/AddyRdz/HTML_Project/blob/main/assets/MyPetPro%20copy.jpeg?raw=true);
    background-size: 1000px;
}
#panel_2{
    background-image: url(https://github.com/AddyRdz/HTML_Project/blob/main/assets/EBB_copy.jpeg?raw=true);
    background-size: 1000px;
}
#panel_3{
    background-image: url(https://github.com/AddyRdz/HTML_Project/blob/main/assets/CodingPals%20copy.jpeg?raw=true);
    background-size: 1000px;
}
#panel_4{
    background-image: url(https://github.com/AddyRdz/HTML_Project/blob/main/assets/Blackjack%20copy.jpeg?raw=true);
    background-size: 1000px;
}

@media screen and (max-width: 500px){
    .navigation{
        flex-direction: row;
        height: 20vh;
    }

    main{
        height: 70vh;
        width: 100%
    }
    body{
        background-image: url(/assets/apple-2568755_1280.jpg);
    }
    
}