
.navigation{
    display: block;
    font-size: 1.125em;
    margin-right: 5%;
    margin-top: 12px;
    text-align:right;
    /* width: 45%; */
}
#bio{
    color: black;
    justify-content: center;
    margin-top: 30px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
body{
    background-color: royalblue
}